<div class='container'>
    <div class="jumbotron">
        <h1 class="display-4">About Me</h1>
        <br>
        <div class='row'>
            <p style="text-align: justify">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Et tortor at risus viverra adipiscing at in tellus. Risus feugiat in ante metus
                dictum. Ut tortor pretium viverra suspendisse potenti nullam ac tortor vitae. Maecenas pharetra
                convallis posuere morbi leo urna molestie. Ornare massa eget egestas purus. Nam aliquam sem et tortor.
                Porttitor rhoncus dolor purus non enim praesent. Laoreet id donec ultrices tincidunt. Urna condimentum
                mattis pellentesque id nibh tortor. Ullamcorper a lacus vestibulum sed. Leo a diam sollicitudin tempor
                id eu nisl nunc. Quisque non tellus orci ac auctor augue mauris. A cras semper auctor neque vitae tempus
                quam pellentesque nec. Non diam phasellus vestibulum lorem sed. In nisl nisi scelerisque eu ultrices
                vitae auctor eu augue. Consequat ac felis donec et odio pellentesque. Ac tortor dignissim convallis
                aenean et. Ultricies integer quis auctor elit sed. Consequat nisl vel pretium lectus quam id.
                <br>
                <br>
                Augue interdum velit euismod in pellentesque massa placerat duis ultricies. Blandit massa enim nec dui
                nunc. Pellentesque id nibh tortor id aliquet lectus. Auctor elit sed vulputate mi sit. Netus et
                malesuada fames ac turpis egestas integer eget. Nunc sed velit dignissim sodales ut. Pellentesque elit
                ullamcorper dignissim cras tincidunt lobortis feugiat. Tortor at auctor urna nunc. Phasellus vestibulum
                lorem sed risus ultricies tristique nulla. In pellentesque massa placerat duis ultricies lacus sed. Urna
                nec tincidunt praesent semper feugiat nibh sed pulvinar.
            </p>
        </div>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" onclick="window.open('https://github.com/Aslanbayli');"
                class="btn btn-secondary">GitHub</button>
            <button type="button" class="btn btn-secondary">Middle</button>
            <button type="button" class="btn btn-secondary">Right</button>
        </div>
    </div>
</div>